services:
  postgres:
    image: postgres:16-alpine
    container_name: doorman-postgres
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
