name: Go Lint and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  golangci_lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: "Download dependencies"
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: v1.57
